#logContainer {
    display: flex;
    flex-direction: column;
    border: 2px var(--border) solid;
    gap: 4px;
    width: fit-content;
    padding: 2px 8px;
    max-width: 40%;

    #log {
        font-style: normal;
        text-decoration: none;
        border: 1px var(--secondary) solid;
        padding: 8px;
        margin-left: 8px;
        transition: all 100ms ease-in-out;
        width: fit-content;
    }

    #log:hover {
        border: 1px var(--border) solid;
        margin: 0px;
    }
}

#logContent {
    width: fit-content;
    overflow: scroll;
    overflow-wrap: normal;
    text-wrap: pretty;

    img {
        max-width: 40vw;
        max-height: 40vh;
    }
}