main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  background-color: var(--secondary);
}
#window canvas {
  margin: 8px;
  border: 2px var(--border) solid;
}
