*, ::before, ::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* Colorscheme */
:root {
	--primary: #000000;
	--secondary: #ffffff;
	--border: #ffffff;
	--text: #ffffff;
}

body {
	display: flex;
	flex-direction: column;
}

nav {

}

main {

}

footer {

}

